<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39639001549-iddtq7dlbq3ut227498ftcalj0a3lnu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39639001549-iddtq7dlbq3ut227498ftcalj0a3lnu8</string>
	<key>API_KEY</key>
	<string>AIzaSyDRsnc4OXtPZuBC_LKgWEOFHlYMKUCHhSI</string>
	<key>GCM_SENDER_ID</key>
	<string>39639001549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizzy</string>
	<key>PROJECT_ID</key>
	<string>quizzy-9f50f</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzy-9f50f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:39639001549:ios:23b83a40b2fe7200217c84</string>
	<key>DATABASE_URL</key>
	<string>https://quizzy-9f50f-default-rtdb.firebaseio.com</string>
</dict>
</plist>
